################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserManagement/.vs
/UserManagement/UserManagement/bin/Debug/net8.0
/UserManagement/UserManagement/obj/Container
/UserManagement/UserManagement/obj/Debug/net8.0
/UserManagement/UserManagement/obj
/UserManagement/UserManagement/UserManagement.csproj.user
/Practical.Microservice/.vs
/Practical.Microservice/Services.User/bin/Debug/net8.0
/Practical.Microservice/Services.User/obj/Container
/Practical.Microservice/Services.User/obj
